
<br>
<div class="ui stackable grid container">
    <div class="computer only row">
        <div class="thirteen wide column">
            <h1 class="ui huge header">
                Meetings
            </h1>
            <table id="example" class="ui celled table" style="width:100%">
                <thead>
                    <tr>
                        <th>Meeting Location</th>
                        <th>Meeting Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.meetings as |meeting|}}
                    <tr>
                        <td>{{meeting.location}}</td>
                        <td>{{meeting.description}}</td>
                        <td>{{format-date meeting.startDateTime}}</td>
                        <td>{{format-date meeting.endDateTime}}</td>
                        <td>{{view-meeting ID = meeting.id}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{new-meeting}}
        </div>
    </div>
</div>

<div class="ui left inverted labeled icon inline vertical menu sidebar">
    <div class="ui section hidden divider">

    </div>

    {{#link-to "home-page" }}
    <div class="item">
        <i class="home icon"></i>
        Home
    </div>
    {{/link-to}}

    <a class="item">
        <i class="block layout icon"></i>Topics
    </a>
    <a class="item">
        <i class="smile icon"></i>Friends
    </a>

</div>