<div class="content-container manage-users">
    <div class="ui row centered grid">
        <h1 class="header">Manage Users</h1>
    </div>
    <div class="ui centered grid">
        <div class="eight wide row">
            <div class="six wide column">
                <h3 class="ui centered aligned header">All Users</h3>
                <div class="ui centered grid section">
                    <div class="ui input">
                        <input oninput={{action "filterMemberships"}} type="text" placeholder="Search...">
                    </div>
                </div>
                <div class="section">
                    <div class="user-container">
                        <div class="ui middle aligned divided list">
                            {{#each membershipsList as |user|}}
                            <div class="item">
                                <div class="left floated content username">
                                    {{user.firstName}} {{user.lastName}} - {{user.committeeName}}
                                </div>
                                {{#if FEAT022_002IsPermitted }}
                                    <button onclick={{action "add" user}} class="ui button right floated middle aligned">
                                        Add
                                    </button>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui centered aligned header">Team Members</h3>
                <div class="ui centered grid section">
                    <div class="ui input">
                        <input oninput={{action "filterAttendees"}} type="text" placeholder="Search...">
                    </div>
                </div>
                <div class="section">
                    <div class="user-container">
                        <div class="ui middle aligned divided list">
                            {{#each attendeesList as |user|}}
                            <div class="item">
                                <div class="left floated content username">
                                    {{user.firstName}} {{user.lastName}} - {{user.committeeName}}
                                </div>
                                {{#if FEAT022_002IsPermitted }}
                                    <button onclick={{action "remove" user}} class="ui button right floated middle aligned">
                                        Remove
                                    </button>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                {{#if FEAT022_002IsPermitted }}
                    <button onclick={{action "submit"}} class="ui button right floated middle aligned">
                        Confirm
                    </button>
                {{/if}}
            </div>
        </div>
    </div>
</div>