{{#if FEAT22_004IsPermitted }}
    <div class="content">
        <label>Title</label>
        <div class="ui labeled input">
            {{input value=title type="text" class='meetingInput'}}
        </div>
        <br><br>
        <label>Description</label>
        <div class="ui labeled input">
            {{input value=resultDescription type="text" class='meetingInput'}}
        </div>
        <br><br>
        <label>Recommendations</label>
        <div class="ui labeled input">
            {{input value=recommendations type="text" class='meetingInput'}}
        </div>
        <br><br>
        <label>Decisions</label>
        <div class="ui labeled input">
            {{input value=decision type="text" class='meetingInput'}}
        </div>
    </div>
{{#if FEAT22_001IsPermitted }}
    <div class="ui red button" {{action 'addToTable'}}>
        Add
    </div>
{{/if}}
<table id="outcomesTable" class="ui celled table" style="width:100%">
    <thead>
        <tr>
            <th>Outcome Title</th>
            <th>Description</th>
            <th>Recommendations</th>
            <th>Decision</th>
        </tr>
    </thead>
    <tbody>
        {{#each outcomes as |outcome|}}
        <tr>
            <td>{{outcome.title}}</td>
            <td>{{outcome.description}}</td>
            <td>{{outcome.recommendations}}</td>
            <td>{{outcome.decision}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}