<br><br>
<div class="ui blue button" {{action 'openModal'}}>
  New Meeting
</div>

{{#ui-modal name="newMeeting" class="newMeeting" }}
    <h1>New Meeting</h1>
    <br>
    <label>Meeting Title</label>
    <br>
    <div class="ui labeled input">
      {{input value=meetingTitle type="text" class='meetingInput'}}
    </div>
    <br>
    <label>Meeting Place</label>
    <br>
    <div class="ui labeled input">
      {{input value=meetingPlace type="text" class='meetingInput'}}
    </div>
    <br>
    <label>Meeting Objective</label>
    <br>
    <div class="ui labeled input">
      {{input value=meetingObjective type="text" class='meetingInput'}}
    </div>
    <br>
    <label>Meeting Description</label>
    <br>
    <div class="ui labeled input">
      {{input value=meetingDescription type="text" class='meetingInput'}}
    </div>
    <br>
    <label>Other Details</label>
    <br>
    <div class="ui labeled input">
      {{input value=otherDetails type="text" class='meetingInput'}}
    </div>
    <br>
    <label>Start Time</label>
    <br>
    <div class="ui labeled input">
      {{input value=startDateTime type="text" class='meetingInput'}}
    </div>
    <br>
    <label>End Time</label>
    <br>
    <div class="ui labeled input">
      {{input value=endDateTime type="text" class='meetingInput'}}
    </div>
    <br>
    <br>
    <div class="ui primary button" {{action "create"}}>
        Create Meeting
    </div>
{{/ui-modal}}