{{#if FEAT021_000IsPermitted}}

<div class="content-container manage-users">
    <div class="ui row centered grid">
        <h1 class="header">Manage Users</h1>
    </div>
    <div class="ui centered grid">
        <div class="eight wide row">
            <div class="six wide column">
                <h3 class="ui centered aligned header" style="margin-top: 30px">All Users</h3>
                <div class="ui centered grid section">
                    <div class="ui action input">
                        <input oninput={{action "filterAllUsers"}} type="text" placeholder="Search...">
                        <button class="ui button">Search</button>
                    </div>
                </div>
                <div class="section">
                    <div class="user-container">
                        <div class="ui middle aligned divided list">
                            {{#each this.allUsers as |user|}}
                            <div class="item">
                                <div class="left floated content username">
                                    {{user.firstName}} {{user.lastName}}
                                </div>
                                <button onclick={{action "add" user}} class="ui button right floated middle aligned">
                                    Add
                                </button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h3 class="ui centered aligned header" style="margin-top: 30px">Team Members</h3>
                <div class="ui centered grid section">
                    <div class="ui action input">
                        <input oninput={{action "filtermembers"}} type="text" placeholder="Search...">
                        <button class="ui button">Search</button>
                    </div>
                </div>
                <div class="section">
                    <div class="user-container">
                        <div class="ui middle aligned divided list">
                            {{#each this.members as |user|}}
                            <div class="item">
                                <div class="left floated content username">
                                    {{user.firstName}} {{user.lastName}}
                                </div>
                                <button onclick={{action "remove" user}} class="ui button right floated middle aligned">
                                    Remove
                                </button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{#if isChanges}}
                <button onclick={{action "submit"}} class="ui button right floated middle aligned" style="margin-top: 20px;">
                    {{ submitLabel }}
                </button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{else}}
<h1>You are not permitted to manage committees.</h1>
{{/if}}
