<div class="ui blue button" {{action 'openModal'}}>
  View Meeting
</div>

{{#ui-modal name=modalName class=modalName }}
    <div class="content">
        <label>Meeting Location</label>
        <br>
        <div class="ui labeled input">
            {{input value=location type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Meeting Description</label>
        <br>
        <div class="ui labeled input">
            {{input value=description type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Meeting Minutes</label>
        <br>
        <div class="ui labeled input">
            {{input value=minutes type="text" class='meetingMinutes'}}
        </div>
        <br>
        <label>Start Time</label>
        <br>
        <div class="ui labeled input">
            {{input value=startDateTime type="text" class='meetingInput'}}
        </div>
        <br>
        <label>End Time</label>
        <br>
        <div class="ui labeled input">
            {{input value=endDateTime type="text" class='meetingInput'}}
        </div>
        <br>
        {{#ui-accordion class="styled"}}
            <div class="title">
                Manage Meeting Outcomes
            </div>
            <div class="content">
                {{meeting-outcomes outcomes=outcomes meetingId = ID}}
            </div>
        {{/ui-accordion}}
        
        {{#ui-accordion class="styled"}}
            <div class="title">
                Manage Users
            </div>
            <div class="content">
                {{meeting-attendees members=this.members attendees=attendees meetingId = ID userSubmit=(action "userSubmit")}}
            </div>
        {{/ui-accordion}}
    </div>
    <div class="actions">
        <div class="ui primary button updateBtn" {{action "update"}}>
            Update
        </div>
        <div class="ui red button" {{action 'closeModal'}}>
            Close
        </div>
    </div>
    <div class="ui inline cookie nag">
        <span class="title">
            Updated
        </span>
        <i class="close icon"></i>
    </div>
    <div class="ui inline cookie nag bad">
        <span class="title">
            Error, please try again
        </span>
        <i class="close icon"></i>
    </div>

{{/ui-modal}}