<div class="ui blue button" {{action 'openModal'}}>
  View Meeting
</div>

{{#ui-modal name=modalName class=modalName }}
    <div class="content">
            <label>Meeting Location</label>
            <br>
            <div class="ui labeled input">
            {{input value=location type="text" class='meetingInput'}}
            </div>
            <br>
            <label>Meeting Description</label>
            <br>
            <div class="ui labeled input">
            {{input value=description type="text" class='meetingInput'}}
            </div>
            <br>
            <label>Start Time</label>
            <br>
            <div class="ui labeled input">
            {{input value=startDateTime type="text" class='meetingInput'}}
            </div>
            <br>
            <label>End Time</label>
            <br>
            <div class="ui labeled input">
            {{input value=endDateTime type="text" class='meetingInput'}}
            </div>
            <br>
            {{#ui-accordion class="styled"}}
                <div class="title">
                    Manage Users
                </div>
                <div class="content">
                    {{user-manager users=users submit=(action "userSubmit")}}
                </div>
            {{/ui-accordion}}
    </div>
    <div class="description">
        
    </div>

      <div class="actions">
        <div class="ui primary button" id='editBtn' {{action "edit"}}>
            Edit
        </div>
        <div class="ui red button" {{action 'closeModal'}}>
            Close
        </div>
      </div>

{{/ui-modal}}