<div class="ui top fixed borderless huge inverted menu">
  <div class="ui container grid">
    <div class="computer only row">
      <a class="header item">CEAMS</a>
      {{#link-to "home-page" class="item"}}<a>Home</a>{{/link-to}}
      <a class="item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/"  rel="noopener">Semantic-UI</a>
      <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules" rel="noopener">Semantic-UI-Ember</a>
      <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data Tables</a>
      <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
      <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
    </div>
    <div class="tablet mobile only row">
      <a class="header item"> CEAMS</a>
      <div class="right menu">
        <a class="menu item">
          <div class="ui icon toggle basic inverted button">
            <i class="content large icon"></i>
          </div>
        </a>
      </div>
      <div class="ui vertical borderless fluid inverted menu">
        {{#link-to "home-page"}} <a class="item">Home</a>{{/link-to}}
        <a class="item" target="_blank" href="http://semantic-ui-forest.com/themes/semantic-ui/semantic-ui/" rel="noopener">Semantic-UI</a>
        <a class="item" target="_blank" href="http://semantic-org.github.io/Semantic-UI-Ember/#/modules" rel="noopener">Semantic-UI-Ember</a>
        <a class="item" target="_blank" href="https://datatables.net/examples/styling/semanticui" rel="noopener">Data Tables</a>
        <a class="item" target="_blank" href="https://www.emberaddons.com/" rel="noopener">Ember Addons</a>
        <a class="item" target="_blank" href="https://guides.emberjs.com/release/" rel="noopener">Ember Guide</a>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="computer only row">
    <div class="thirteen wide column">    
        <h1>View Meeting</h1>
        <div class="ui primary button" id='editBtn' {{action "edit"}}>
          Edit
        </div>
        <br>
        <label>Meeting Title</label>
        <br>
        <div class="ui labeled input">
        {{input value=meetingTitle type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Meeting Place</label>
        <br>
        <div class="ui labeled input">
        {{input value=meetingPlace type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Meeting Objective</label>
        <br>
        <div class="ui labeled input">
        {{input value=meetingObjective type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Meeting Description</label>
        <br>
        <div class="ui labeled input">
        {{input value=meetingDescription type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Other Details</label>
        <br>
        <div class="ui labeled input">
        {{input value=otherDetails type="text" class='meetingInput'}}
        </div>
        <br>
        <label>Start Time</label>
        <br>
        <div class="ui labeled input">
        {{input value=startDateTime type="text" class='meetingInput'}}
        </div>
        <br>
        <label>End Time</label>
        <br>
        <div class="ui labeled input">
        {{input value=endDateTime type="text" class='meetingInput'}}
        </div>
        <br>
        <h3>Recommendations</h3>
        {{textarea value=recommendations type="text" class='meetingInput'}}
        <br>
        <h3>Decisions</h3>
        {{textarea value=decisions type="text" class='meetingInput'}}
        <br>
        <br>
        {{#ui-accordion class="styled"}}
            <div class="title">
                Manage Users
            </div>
            <div class="content">
                Accordion Component
            </div>
        {{/ui-accordion}}
    </div>
  </div>
</div>

