<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="team-detail">
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui column centered grid">
                <div class="ui text container">
                    <div class="text-title">
                        <h1>Create User Evaluation Method</h1>
                    </div>
                </div>
            </div>
            <div class="ui basic buttons">
                <div class="ui button active" id="instructor-button">Instructor</div>
                <div class="ui button" id="staff-button">Staff</div>
            </div>
            <br>
            <br>
            <br>


            <div id="instructor-factors">
                <form onsubmit={{action "submitInstructorKPI"}}>
                    <div class="instructor">
                        <h3>Instructors</h3>
                    </div>
                    <div class="ui divider"></div>
                    <div class="bottom">
                        <div class="ui relaxed divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="kpi-content">
                                        Logins
                                        <div class="right floated column">
                                            <div class="ui input">
                                                {{input class="weight" type="number" value=this.instructorLogins
                                                step="1" placeholder="0"}}
                                            </div>
                                            %
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="content">Tests Graded
                                    <span>
                                        <div class="right floated column">
                                            <div class="ui input">
                                                {{input class="weight" type="number" value=this.instructorTestsGraded
                                                step="1" placeholder="0"}}
                                            </div>
                                            %
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <span class="kpi-content">Classes Taught</span>
                                    <span>
                                        <div class="right floated column">
                                            <div class="ui input">
                                                {{input class="weight" type="number" value=this.instructorClassesTaught
                                                step="1" placeholder="0"}}
                                            </div>
                                            %
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <span class="kpi-content">Total Audit Trail Actions</span>
                                    <span>
                                        <div class="right floated column">
                                            <div class="ui input">
                                                {{input class="weight" type="number" value=this.instructorActions
                                                step="1" placeholder="0"}}
                                            </div>
                                            %
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <span class="kpi-content">Method Description</span>
                                    <span>
                                        <div class="right floated column">
                                            <div class="ui input">
                                                {{input value=this.instructorMethodDescription}}
                                            </div>
                                            &nbsp;
                                            &nbsp;
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="error-message" style="color: red; display: none">
                                Error: weights must sum to 100.
                            </div>
                            <div class="kpi-button-group">
                                <div class="right floated column">
                                    <button id="instructor-save-button" class="ui right floated button">
                                        <a>Create</a>
                                    </button>
                                    <div class="ui right floated button">
                                        {{#link-to "indicators.manage-upi" class="item"}}<a>Cancel</a>{{/link-to}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="staff-factors">
                <div class="staff">
                    <h3>Staff</h3>
                </div>
                <div class="ui divider"></div>
                <div class="bottom">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="content">
                                <span class="kpi-content">Logins</span>
                                <span>
                                    <div class="right floated column">
                                        <div class="ui input">
                                            {{input class="weight" type="number" value=this.staffLogins
                                                step="1" placeholder="0"}}
                                        </div>
                                        %
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <span class="kpi-content">Total Audit Trail Actions</span>
                                <span>
                                    <div class="right floated column">
                                        <div class="ui input">
                                            {{input class="weight" type="number" value=this.staffActions
                                                step="1" placeholder="0"}}
                                        </div>
                                        %
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <span class="kpi-content">Method Description</span>
                                <span>
                                    <div class="right floated column">
                                        <div class="ui input">
                                            {{input value=this.staffMethodDescription}}
                                        </div>
                                        &nbsp;
                                        &nbsp;
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="error-message" style="color: red; display: none">
                            Error: weights must sum to 100.
                        </div>
                        <div class="kpi-button-group">
                            <div class="right floated column">
                                <button id="staff-save-button" class="ui right floated button" onclick={{action "submitStaffKPI"}}>
                                    <a>Create</a>
                                </button>
                                <div class="ui right floated button">
                                    {{#link-to "indicators.manage-upi" class="item"}}<a>Cancel</a>{{/link-to}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>