<div class="team-detail">
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui column centered grid">
        <div class="ui text container">
          <h1>GA Task Force</h1>
        </div>
      </div>
      <div class="ui grid">
        <div class="ten wide column">
          Committee Name: <strong>{{ committee.name }}</strong>
          <br>
          Committee Level: <strong>{{ committee.level }}</strong>
        </div>
        <div class="right floated column">
          <div class="ui right floated button">
            {{#link-to "committees.manage-users" committee.id class="item"}}<a>Manage Users</a>{{/link-to}}
          </div>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="bottom">
        <div class="ui relaxed divided list">
          {{#each this.members as |members|}}
          <div class="item">
            <div class="content">
              <a class="header">{{ members.name }}</a>
              <div class="description">Member of Team3</div>
              <span>Participation Start Date: {{ members.participationStartDate }}</span>
              <br>
              <span>Participation End Date: {{ members.participationEndDate }}</span>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>